header{
    background-color: black;
    color: white;
}
.bebidas{
    box-shadow: -13px 10px 28px 23px black;
    -webkit-box-shadow: -13px 10px 28px 23px gray;
    -moz-box-shadow: -13px 10px 28px 23px rgba(77,35,35,0.75);
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
}

.resultado-container{
    border: solid black;
}
@media(min-width: 412px){
    header {
        width: 75%;
    }
    
    img {
        width:50% ;
    }
    .bebidas{
        width:75% ;
    }
}
@media(min-width: 360px){
    header {
        width: 75%;
    }
    img {
        width:50% ;
    }
    .bebidas{
        width:75% ;
    }
}


@media(min-width: 280px){
    header {
        width: 100%;
    }
    img {
        width:50% ;
    }
    .bebidas{
        width:75% ;
    }
}

@media(min-width: 720px){
    header {
        width: 100%;
    }
    img {
        width:25% ;
    }
    .bebidas{
        width:50% ;
        order: 1;
    }
}@media(min-width: 1080px){
    header {
        width: 100%;
    }
    img {
        width:25% ;
    }
    .bebidas{
        width:50% ;
        order: 1;
    }
}