header{
    background-color: black;
    color: white;
}
.bebidas{
    box-shadow: -13px 10px 28px 23px black;
    -webkit-box-shadow: -13px 10px 28px 23px black;
    -moz-box-shadow: -13px 10px 28px 23px rgba(77,35,35,0.75);
}
#cerveza{
 
}